// Place all the styles related to the Bowlers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info
{
    position: absolute;
    right: 300px;
    top: 15%;
}

.average {
	padding: 10px; 	
}

.teams {
	padding: 10px;
}

.new {
  display: inline;
}

.hide {
  display: none;
}

.game_form {
  display: none;
}

form {
  width: 10em;
}

label {
	width: 4em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
	color: #701112;
	font-weight: bold;
}

input
{
    margin-left: 4.5em;
}

.submit input {
    margin-left: 4.5em;
}

 
