// Place all the styles related to the Bowlers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: #C5BD99;
}

button {
  color: #C5BD99;
  background-color: #701112;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border-width: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.info {
  display: inline;

}

.average {
	padding: 10px; 
  font-size: 150%;	
}

.teams {
  background-color: #C5BD99;
  text-align: center;
}

.teams li {
  padding: 5px;
  margin-bottom: 5px;
}

.teams li a {
  color: #C5BD99;
}

.create_team {
  display: inline;
}

.new_game {
  display: inline;
}

.hide_team {
  display: none;
}

.hide_game {
  display: none;
}

.game_form {
  display: none;
}

.team_form {
  display: none;
}

.score_board {
  background-color: #ffffff;
  border-width: 3px;
  border-style: solid;
  border-color: black; 
  padding: 0;
  color: black;
}

.score_board input {
  width: 50%;
}

.score_table td {
  border-color: black;
  border-width: 3px;
  border-style: solid;
  padding: 0;
}
